/* Put your CSS here */
*, body, html {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

main {
  margin: 3% 10%;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2.75em;
}

h2 {
  font-size: 1em;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.homeImg {
  max-height: 15em;
}

.tint {
  background: black;
}

.tint img {
  opacity: 0.5;
}

.title {
  font-size: 1.5em;
  line-height:0;
  opacity:0;
  word-wrap: break-word;
}

.tint .title {
  bottom: 40px;
  color: white;
  left: 10px;
  opacity: 1;
  position:relative;
  transition: all 0.4s;
}

.ember-view .recipeCard {
  display: inline-block;
  margin: 0 .15em;
}

nav.main, nav.logout {
  float: right;
  margin: 0.5% 13% 0 0;
}

h1 a, h1 a:hover {
  color: #A31B02;
}

ul {
  padding: 0 .25em;
}

nav li {
  display: inline-block;
  list-style-type:none;
}

nav a {
  text-decoration: none;
  padding: 0 .5em;
}

nav.logout {
  float: right;
}

.hell{
  background-color: #A31B02;
  border-radius: 6px;
  color: white;
}

.hell:hover {
    color: white;
}

.c5 {
  display: inline-block;
  float: left;
  width: 4%;
}

.c30 {
  float: left;
  width: 30%;
}

.c70 {
  float: left;
  padding: 1em;
  width: 70%;
}

.c95 {
  display: inline-block;
  float: left;
  width: 95%;
}

.c100 {
  float:left;
  width: 100%;
}

.clr {
  clear: both;
}

.comment-container {
  background-color: #E0E0E0;
  -webkit-border-radius: 13px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 13px;
  -moz-border-radius-topleft: 0;
  border-radius: 13px;
  border-top-left-radius: 0;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  padding: .5em;
}
footer {
  clear: both;
  margin: 0 auto;
  width: 50%;
}

@media screen and (max-width: 50em){
  .c30 {
    float: left;
    width: 100%;
  }

  .c70 {
    float: left;
    width: 100%;
  }

  main {
    margin: 0 2%;
  }

}
