/* Put your CSS here */
.ember-application {
    margin: 20px;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 15% 0 10%;
}

img {
  max-width: 100%;
}

.homeImg {
  max-height: 15em;
  opacity: 1;
  z-index: 1;
}

.homeImg:hover {
  opacity: .3;
}

p.hover {
  margin:0px 0 -20px;
  position: relative;
  top: -100px;
  left: 50px;
}

.tint {
  background: #333;
  color: rgba(215, 40, 40, 0);
  display: inline-block;
  margin:.5em .25em 0 .25em;
  transition: color .5s ease;
}

.tint:hover, .tint:active {
  color: rgba(255, 255, 255, 1);
}

nav {
  margin: 0 10%;
}

ul {
  padding: 0 1em;
}

nav li {
  display: inline-block;
  list-style-type:none;
}

nav a {
  text-decoration: none;
  padding: 0 .5em;
}

.hell{
  background: url('https://endurancewarrior.files.wordpress.com/2014/09/flames-background.jpg') no-repeat center;
  background-size: cover;
  border-radius: 6px;
  color: white;
}

.hell:hover {
    color: white;
}

.c30 {
  float: left;
  width: 30%;
}

.c70 {
  float: left;
  padding: 1em;
  width: 70%;
}

footer {
  clear: both;
  margin: 0 auto;
  width: 50%;
}

@media screen and (max-width: 50em){
  .c30 {
    float: left;
    width: 100%;
  }

  .c70 {
    float: left;
    width: 100%;
  }
}
